<header>

  <div class="header_outer">
    

      <div class="header_bg">

	<div class="header_left">
        <h1>
		<a href="" >
			<span><%=protal %> </span>
		</a>
	</h1>
	</div>

        <img src="css/f_spacer.gif" class="navIcon user" alt="">
        <a href="#"><%=myusername %> </a>						
	<a href="#">Mobile</a>
	<a href="#">Administration</a>
	<a href="#">Help</a>
	<a href="/logout" id="logout">logout</a>
	</div>
	<div class="Logo">
		<a href="#" >
			<span><%=prodtitle%> </span>
		</a>

	</div>

</div>
	
