<!-- common javascript start -->

<!--base href="http://myroomexpense.com:50145/homespace/" /-->

<!--script src="js/jquery-1.10.2.js"></script-->
<script src="../external/jquery/1.10.4//js/jquery-1.10.2.js"></script>
<script src="../external/jquery/1.10.4//js/jquery-ui-1.10.4.custom.js"></script>
<!--
<script src="../external/jquery/1.10.4//ui/jquery.ui.core.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.widget.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.mouse.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.sortable.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.button.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.draggable.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.position.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.resizable.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.ui.dialog.js"></script>
<script src="../external/jquery/1.10.4//ui/jquery.effects.core.js"></script>
-->
	<!--script src="../external/jquery/1.10.4/js/jquery-ui-1.10.4.custom.js"></script-->

<!--script src="http://code.jquery.com/jquery-1.9.1.js"></script-->

<!--script language="javascript" src="../javascript/field_02.js"> </script-->
<!--script language="javascript" src="../javascript/field_03.js"> </script-->
<!--script language="javascript" src="../javascript/field_04.js"> </script-->
<script language="javascript" src="../javascript/field_05.js"> </script>
<script language="javascript" src="../javascript/field_06.js"> </script>
<script language="javascript" src="../javascript/dates.js"> </script>
<script language="javascript" src="../javascript/Resource.js"> </script>

<script>
//	alert("Ft02");
	var us=new USS();
//	USS.USSIncludeLinks_("../javascript/dates.js");
//	alert("Ft03");

function  onLoad()
{
//	alert("on Load");
}
</script>
<script language="javascript" src="../javascript/xml.js"> </script>
<script language="javascript" src="../javascript/validate.js"> </script>
<script language="javascript" src="../javascript/validate_04.js"> </script>
<script language="javascript" src="javascript/map.js"> </script>
<!-- common javascript end -->
